@font-face{
  font-family: "Kingthings Christmas";
  src: url("../4-polices/Kingthings Christmas 2.2.ttf") format("truetype");
}

@keyframes ChuteNeigeGrande{
  from { background-position: 0 0; }
  to { background-position: 0 256px; }
}

@keyframes ChuteNeigeMoyenne{
  from {background-position: 0 0;}
  to {background-position: 0 192px;}
}

@keyframes ChuteNeigePetite{
  from { background-position: 0 0;}
  to {background-position: 0 128px;}
}

@keyframes Ouvrable{
  0%{
    transform: scale(1.0;1.0);
    }
  50%{
    transform: scale(0.9,0.9);
    }
  100%{
    transform: scale(1.0,1.0);
    }
}

body{
  user-select: none;
}

p{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#Titre{
  font-family: "Kingthings Christmas";
  font-size: 2em;
}

.rounded-25{
  border-radius: 1em;
}

.position-fixe{
  position: fixed;
}

.position-absolue{
  position: absolute;
}

.z-index-1{
  z-index: 1;
}

.z-index-n1{
  z-index: -1;
}

.neige{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.neige-flocon-grand{
  background: url("../3-images/NeigeFloconGrand.svg") repeat 0px 0px;
  animation: ChuteNeigeGrande 6s linear infinite;
}

.neige-flocon-moyen{
  background: url("../3-images/NeigeFloconMoyen.svg") repeat 0px 0px;
  animation: ChuteNeigeMoyenne 8s linear infinite;
}

.neige-flocon-petit{
  background: url("../3-images/NeigeFloconPetit.svg") repeat 0px 0px;
  animation: ChuteNeigePetite 10s linear infinite;
}

.neige-boule-grande{
  background: url("../3-images/NeigeBouleGrande.png") repeat 0px 0px;
  animation: ChuteNeigeGrande 6s linear infinite;
}

.neige-boule-moyenne{
  background: url("../3-images/NeigeBouleMoyenne.png") repeat 0px 0px;
  animation: ChuteNeigeMoyenne 8s linear infinite;
}

.neige-boule-petite{
  background: url("../3-images/NeigeBoulePetite.png") repeat 0px 0px;
  animation: ChuteNeigePetite 10s linear infinite;
}

.AnimationOuvrable{
  cursor: pointer;
  animation: Ouvrable 2s infinite;
}

.sm{
  --taille: 5em;
  --top-chiffre: -60%;
  --font-chiffre: 2em;
  --top-texte: 10%;
  --font-texte: 3em;
}

.lg{
  --taille: 8em;
  --top-chiffre: -50%;
  --font-chiffre: 3em;
  --top-texte: 15%;
  --font-texte: 5em;
}

.xl{
  --taille: 10em;
  --top-chiffre: -65%;
  --font-chiffre: 5em;
  --top-texte: 10%;
  --font-texte: 7em;
}

.xxl{
  --taille: 11em;
  --top-chiffre: -70%;
  --font-chiffre: 6em;
  --top-texte: 10%;
  --font-texte: 8em;
}

.Bloc{
  border: 0.5em solid;
  border-radius: 1em;
  width: var(--taille);
  height: var(--taille);
  min-width: var(--taille);
  min-height: var(--taille);
  max-width: var(--taille);
  max-height: var(--taille);
}

.Boule{
  width: var(--taille);
  height: var(--taille);
}

.Chiffre{
  font-family: "Kingthings Christmas";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: block;
  position: relative;
  top: var(--top-chiffre);
  font-size: var(--font-chiffre);
}

.Affiche, .Cherche, .Erreur{
  position: relative;
  top: var(--top-texte);
  font-size: var(--font-texte);
}
