@font-face{
  font-family: "Kingthings Christmas";
  src: url("../4-polices/Kingthings Christmas 2.2.ttf") format("truetype");
}

@keyframes ChuteNeigeGrande{
  from { background-position: 0 0; }
  to { background-position: 0 256px; }
}

@keyframes ChuteNeigeMoyenne{
  from {background-position: 0 0;}
  to {background-position: 0 192px;}
}

@keyframes ChuteNeigePetite{
  from { background-position: 0 0;}
  to {background-position: 0 128px;}
}

@keyframes Ouvrable{
  0%{
    transform: scale(1.0;1.0);
    }
  50%{
    transform: scale(0.9,0.9);
    }
  100%{
    transform: scale(1.0,1.0);
    }
}

body{
  user-select: none;
}

p{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#Titre{
  font-family: "Kingthings Christmas";
  font-size: 2em;
}

.z-index-1{
  z-index: 1;
}

.z-index-n1{
  z-index: -1;
}

.bordure-0{
  --taille-fin: calc(var(--taille) - 1em);
}

.bordure-1{
  --taille-fin: var(--taille);
  border-width: 0.5em !important;
}

.bordure-arrondie{
  border-radius: 1em !important;
}

.position-fixe{
  position: fixed;
}

.position-absolue{
  position: absolute;
}

.neige{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.neige-flocon-grand{
  background: url("../3-images/NeigeFloconGrand.svg") repeat 0px 0px;
  animation: ChuteNeigeGrande 6s linear infinite;
}

.neige-flocon-moyen{
  background: url("../3-images/NeigeFloconMoyen.svg") repeat 0px 0px;
  animation: ChuteNeigeMoyenne 8s linear infinite;
}

.neige-flocon-petit{
  background: url("../3-images/NeigeFloconPetit.svg") repeat 0px 0px;
  animation: ChuteNeigePetite 10s linear infinite;
}

.neige-boule-grande{
  background: url("../3-images/NeigeBouleGrande.png") repeat 0px 0px;
  animation: ChuteNeigeGrande 6s linear infinite;
}

.neige-boule-moyenne{
  background: url("../3-images/NeigeBouleMoyenne.png") repeat 0px 0px;
  animation: ChuteNeigeMoyenne 8s linear infinite;
}

.neige-boule-petite{
  background: url("../3-images/NeigeBoulePetite.png") repeat 0px 0px;
  animation: ChuteNeigePetite 10s linear infinite;
}

.AnimationOuvrable{
  cursor: pointer;
  animation: Ouvrable 2s infinite;
}

.sm{
  --taille: 5em;
  --top-chiffre: -60%;
  --font-chiffre: 2em;
  --top-texte: 10%;
  --font-texte: 3em;
}

.md{
  --taille: 8em;
  --top-chiffre: -52%;
  --font-chiffre: 3em;
  --top-texte: 12%;
  --font-texte: 5em;
}

.lg{
  --taille: 10em;
  --top-chiffre: -47%;
  --font-chiffre: 4em;
  --top-texte: 15%;
  --font-texte: 6em;
}

.xl{
  --taille: 11em;
  --top-chiffre: -55%;
  --font-chiffre: 5em;
  --top-texte: 13%;
  --font-texte: 7em;
}

.bloc{
  width: var(--taille-fin);
  height: var(--taille-fin);
  min-width: var(--taille-fin);
  min-height: var(--taille-fin);
  max-width: var(--taille-fin);
  max-height: var(--taille-fin);
}

.chiffre{
  font-family: "Kingthings Christmas";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: block;
  position: relative;
  top: var(--top-chiffre);
  font-size: var(--font-chiffre);
}

.affiche, .cherche, .erreur{
  position: relative;
  top: var(--top-texte);
  font-size: var(--font-texte);
}
