{%~ if Parametres.getNb() == 24 %}
  {% set Max = [1,2,3,4,4,4,3,2,1] %}
  {% set JourEtoile = [1, 24] %}
{%~ else %}
  {% set Max = [1,2,3,4,5,4,3,2,1] %}
  {% set JourEtoile = [13] %}
{%~ endif %}

{% set Compteur = 0 -%}

{% for i in 0..Max|length - 1 %}
  {{~ Indentation }}<div class="mx-auto d-flex justify-content-center">
  {%~ for j in 0..Max[i] - 1 %}
    {%~ set Compteur = Compteur + 1 %}
    {%~
    include 'accueil/_jour.html.twig'
    with { 'Indentation' : Indentation ~ '  ',
           'Style' : Style,
           'Couleur' : Couleur,
           'JourEtoile' : JourEtoile,
           'Jour' : Compteur }
    ~%}
  {%~ endfor %}
  {{~ Indentation }}</div>
{% endfor %}