{% set JourSpecial = 25 -%}

{%~ if Noel == 0 %}
  {% set Max = [1,2,3,4,4,4,3,2,1] %}
{%~ else %}
  {% set Max = [1,2,3,4,5,4,3,2,1] %}
{%~ endif %}

{% set Compteur = 0 -%}

{% for i in 0..Max|length-1 %}
  {{~ Indentation }}<div class="mx-auto d-flex justify-content-center">
  {%~ for j in 0..Max[i]-1 %}
    {%~ set Compteur = Compteur+1 %}
    {%~
    include Modele
    with { 'Indentation' : Indentation ~ '  ',
           'Style' : Style,
           'Bordure' : Bordure,
           'Zoom' : Zoom,
           'Taille' : Taille,
           'Couleur' : Couleur,
           'JourSpecial' : JourSpecial,
           'Jour' : Compteur }
    ~%}
  {%~ endfor %}
  {{~ Indentation }}</div>
{% endfor %}